{% extends 'template.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}
{% block pageTitle %}Hello {{ name }}{% endblock %}

{% block body %}
    <p>Hello {{ name }}</p>
    <p>Je veux aller sur cette url absolue : {{ url('first') }}</p>
{% endblock %}
