{% extends 'template.html.twig' %}

{% block title %}Liste des todos{% endblock %}

{% block body %}
<img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt="" height="50" width="50">

{% block pageTitle %}
    Liste des todos
{% endblock %}

<ol class="list-group">
    {% for name,content in app.session.get('todos') %}
        <li class="list-group-item">
            {{ name }} : {{ content }}
        </li>
    {% endfor %}
</ol>
{% endblock %}
